.flex{
    display: flex;
  justify-content: center;
  align-items: center;

}

.taskbar{
  background-color: rgb(159, 29, 29);
  margin-top: 0px;
}

.para{
  background-color: blue;
  
}

.tp{
  background-color: blue;
}

.buttonstyle{
  background-color: gray;
  border-color: brown;
  width: 100px;  /* Adjusts the width */
  height: 50px;  /* Adjusts the height */
  margin-left: 10px;
  margin-right: 10px;

}

.codedby{
            position: fixed; /* Keeps it in place */
            bottom: 0; /* Aligns to bottom */
            left: 0; /* Aligns to left */
            /* padding: 10px; Adds some space */
            /* background-color: lightgray; Optional styling */

}

.imageofhudy{
  width: 400px;
  height: 200px;
}
